
*.suo
*.user
*.userprefs
*.userosscache
*.sln.docstates

*.sln.ide/

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

*.ide/

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

*.VisualState.xml
TestResult.xml

[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

_Chutzpah*

ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

*.psess
*.vsp
*.vspx

$tf/

*.gpState

_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

.JustCode

_TeamCity*

*.dotCover

_NCrunch_*
.*crunch*.local.xml

*.mm.*
AutoTest.Net/

.sass-cache/

[Ee]xpress/

DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

publish/

*.[Pp]ublish.xml
*.azurePubxml
*.pubxml
*.publishproj

*.nupkg
packages/**
**/packages/*
!**/packages/build/

csx/
*.build.csdef

AppPackages/

sql/
*.Cache
ClientBin/
[Ss]tyle[Cc]op.*
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
node_modules/
bower_components/

Generated_Code/

_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm

*.mdf
*.ldf

*.rdl.data
*.bim.layout
*.bim_*.settings

FakesAssemblies/


.DS_Store

Структура папок в проекте.txt
Restsharp.Portable/RestSharp.Portable/obj/Debug/RestSharp.Portable.csproj.App.config
Restsharp.Portable/RestSharp.Portable/obj/Debug/RestSharp.Portable.csproj.FileListAbsolute.txt
Restsharp.Portable/RestSharp.Portable/obj/Debug/RestSharp.Portable.pdb
Restsharp.Portable/RestSharp.Portable/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Restsharp.Portable/RestSharp.Portable/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Restsharp.Portable/RestSharp.Portable/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
RT.Gosuslugi.userprefs
.nuget/
*.rej
*.mdb
*.orig
MyLittlePython/.idea/
*.pyc
*.o
*.bc
*.stackdump
RT.Gosuslugi.Client.WP/PerfLogs/
*.diff
RT.Gosuslugi.Client.Ios/Acr.MvvmCross.Plugins.UserDialogs.dll
RT.Gosuslugi.Client.Ios/Acr.MvvmCross.Plugins.UserDialogs.Touch.dll
RT.Gosuslugi.Client.Ios/BTProgressHUD.dll
RT.Gosuslugi.Client.Ios/Chance.MvvmCross.Plugins.UserInteraction.dll
RT.Gosuslugi.Client.Ios/Chance.MvvmCross.Plugins.UserInteraction.Touch.dll
RT.Gosuslugi.Client.Ios/Cirrious.CrossCore.dll
RT.Gosuslugi.Client.Ios/Cirrious.CrossCore.Touch.dll
RT.Gosuslugi.Client.Ios/Cirrious.MvvmCross.Binding.dll
RT.Gosuslugi.Client.Ios/Cirrious.MvvmCross.Binding.Touch.dll
RT.Gosuslugi.Client.Ios/Cirrious.MvvmCross.dll
RT.Gosuslugi.Client.Ios/Cirrious.MvvmCross.Localization.dll
RT.Gosuslugi.Client.Ios/Cirrious.MvvmCross.Plugins.DownloadCache.dll
RT.Gosuslugi.Client.Ios/Cirrious.MvvmCross.Plugins.DownloadCache.Touch.dll
RT.Gosuslugi.Client.Ios/Cirrious.MvvmCross.Plugins.Email.dll
RT.Gosuslugi.Client.Ios/Cirrious.MvvmCross.Plugins.Email.Touch.dll
RT.Gosuslugi.Client.Ios/Cirrious.MvvmCross.Plugins.File.dll
RT.Gosuslugi.Client.Ios/Cirrious.MvvmCross.Plugins.File.Touch.dll
RT.Gosuslugi.Client.Ios/Cirrious.MvvmCross.Plugins.Location.dll
RT.Gosuslugi.Client.Ios/Cirrious.MvvmCross.Plugins.Location.Touch.dll
RT.Gosuslugi.Client.Ios/Cirrious.MvvmCross.Plugins.Messenger.dll
RT.Gosuslugi.Client.Ios/Cirrious.MvvmCross.Plugins.Network.dll
RT.Gosuslugi.Client.Ios/Cirrious.MvvmCross.Plugins.Network.Touch.dll
RT.Gosuslugi.Client.Ios/Cirrious.MvvmCross.Plugins.PhoneCall.dll
RT.Gosuslugi.Client.Ios/Cirrious.MvvmCross.Plugins.PhoneCall.Touch.dll
RT.Gosuslugi.Client.Ios/Cirrious.MvvmCross.Plugins.PictureChooser.dll
RT.Gosuslugi.Client.Ios/Cirrious.MvvmCross.Plugins.PictureChooser.Touch.dll
RT.Gosuslugi.Client.Ios/Cirrious.MvvmCross.Plugins.Share.dll
RT.Gosuslugi.Client.Ios/Cirrious.MvvmCross.Plugins.Share.Touch.dll
RT.Gosuslugi.Client.Ios/Cirrious.MvvmCross.Plugins.Visibility.dll
RT.Gosuslugi.Client.Ios/Cirrious.MvvmCross.Plugins.Visibility.Touch.dll
RT.Gosuslugi.Client.Ios/Cirrious.MvvmCross.Plugins.WebBrowser.dll
RT.Gosuslugi.Client.Ios/Cirrious.MvvmCross.Plugins.WebBrowser.Touch.dll
RT.Gosuslugi.Client.Ios/Cirrious.MvvmCross.Touch.dll
RT.Gosuslugi.Client.Ios/Factorymind.Components-Unified.dll
RT.Gosuslugi.Client.Ios/HtmlAgilityPack-PCL.dll
RT.Gosuslugi.Client.Ios/ICSharpCode.SharpZipLib.Portable.dll
RT.Gosuslugi.Client.Ios/Microsoft.Threading.Tasks.dll
RT.Gosuslugi.Client.Ios/Microsoft.Threading.Tasks.Extensions.dll
RT.Gosuslugi.Client.Ios/ModernHttpClient.dll
RT.Gosuslugi.Client.Ios/MvxPlugins.Geocoder.dll
RT.Gosuslugi.Client.Ios/MvxPlugins.Geocoder.Touch.dll
RT.Gosuslugi.Client.Ios/Newtonsoft.Json.dll
RT.Gosuslugi.Client.Ios/PLCrashReporterUnifiedBinding.dll
RT.Gosuslugi.Client.Ios/Refractored.Xam.Settings.Abstractions.dll
RT.Gosuslugi.Client.Ios/Refractored.Xam.Settings.dll
RT.Gosuslugi.Client.Ios/RestSharp.Portable.dll
RT.Gosuslugi.Client.Ios/RestSharp.Portable.xml
RT.Gosuslugi.Client.Ios/RT.Gosuslugi.Client.Ios.SignalHandler.dll
RT.Gosuslugi.Client.Ios/RT.Gosuslugi.Common.dll
RT.Gosuslugi.Client.Ios/RT.Gosuslugi.ContentProviders.dll
RT.Gosuslugi.Client.Ios/RT.Gosuslugi.Data.dll
RT.Gosuslugi.Client.Ios/RT.Gosuslugi.Entities.dll
RT.Gosuslugi.Client.Ios/RT.Gosuslugi.SAL.dll
RT.Gosuslugi.Client.Ios/RT.Gosuslugi.Utilities.dll
RT.Gosuslugi.Client.Ios/RTGosuslugiClientIos.exe
RT.Gosuslugi.Client.Ios/RTGosuslugiClientIos.exe.config
RT.Gosuslugi.Client.Ios/SQLite.Net.Async.dll
RT.Gosuslugi.Client.Ios/SQLite.Net.dll
RT.Gosuslugi.Client.Ios/SQLite.Net.Platform.XamarinIOS.Unified.dll
RT.Gosuslugi.Client.Ios/SQLiteNetExtensions.dll
RT.Gosuslugi.Client.Ios/SQLiteNetExtensionsAsync.dll
RT.Gosuslugi.Client.Ios/System.Net.Http.Extensions.dll
RT.Gosuslugi.Client.Ios/System.Net.Http.Primitives.dll
RT.Gosuslugi.Client.Ios/Xamarin.Insights.dll
RT.Gosuslugi.Client.Ios/YandexMetrica.Xamarin.iOS.dll
RT.Gosuslugi.Client.Ios/YandexMetrica.Xamarin.PCL.dll
